.main-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: #EEEEEE;
}
.main-placeholder {
  height: 64px;
  flex-shrink: 0;
}
.main-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}
.main-body {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.main-list {
  flex-grow: 6;
  overflow-y: scroll;
}
.main-filter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px;
  background-color: #FFFFFF;
}
.main-list-item:hover {
  cursor: pointer;
}
